.midPage {

    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #FBFBFB;
    border-bottom: solid 2px #a74545;
    padding: 70px 15px 40px 15px;
}

.midPage .inner {

    align-items: center;
    max-width: 865px;
    text-align: center;

}

.midPage .inner .spotlight {

    display: flex;
    align-items: center;
    text-align: left;
    padding: 40px 0px;

}

.midPage .inner .spotlight:nth-child(even) {

    flex-direction: row-reverse;
    text-align: right;
    border-top: solid 2px #E0E0E0;
    border-bottom: solid 2px #E0E0E0;

}
.midPage .inner .spotlight:nth-child(even) .image {
    margin-right: 0;
    margin-left: 50px;

}

.midPage .inner .spotlight .image {
    min-width: 250px;
    margin-right: 50px;
}

.midPage .inner .spotlight .image img {
    width: 100%;
    border-radius: 100%;
    border: double 5px #e0e0e0;
}



.midPage .inner .spotlight h3 {

    font-weight: 500;
    font-size: 26px;
    color: #828282;
    margin-bottom: 28px;

}

.midPage .inner .spotlight p {

    font-weight: 400;
    font-size: 17px;
    color: #999999;
    line-height: 25px;

}

@media  screen and (max-width: 715px) {

    .midPage .inner .spotlight {

        flex-direction: column !important;
        text-align: center !important;

    }

    .midPage .inner .spotlight .image {

        min-width: 0px;
        max-width: 200px;
        margin: 0 0 15px 0 !important;
    
    }


    .midPage .inner .spotlight .text h3 {

        font-size: 24px;
        margin-bottom: 17px !important;
    }

    .midPage .inner .spotlight .text p {

        font-size: 15px;
        line-height: 22px;
    }
    
}